In [27]:
import requests

headers = {
    'authority': 'persona.hotstar.com',
    'sec-ch-ua': '^\\^Google',
    'x-subscription-type': 'Free',
    'sec-ch-ua-mobile': '?0',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.128 Safari/537.36',
    'x-client-code': 'LR',
    'hotstarauth': 'st=1618906039~exp=1618912039~acl=/*~hmac=aa83bad748586c5c8d80d0d6998441e6c7f96959df06ea1f736fcd026cf744f9',
    'x-platform-code': 'PCTV',
    'x-country-code': 'IN',
    'x-hs-usertoken': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ1bV9hY2Nlc3MiLCJleHAiOjE2MTk1MDAzNjgsImlhdCI6MTYxODg5NTU2OCwiaXNzIjoiVFMiLCJqdGkiOiI4OTdiNGRhOTQzNTc0N2NjYmNlYWQyOGIyMWEwMDI4ZCIsInN1YiI6IntcImhJZFwiOlwiMTU0NDY4NzNmN2ViNDZjYjkyOWFmM2E1NjNjNzc2ZGRcIixcInBJZFwiOlwiMGNjMDI2NTlhOTA4NDdmMjkyYmNlNjBjNjRhZGZmNmNcIixcIm5hbWVcIjpcIkd1ZXN0IFVzZXJcIixcImlwXCI6XCIyNy41Ljk1LjE2NVwiLFwiY291bnRyeUNvZGVcIjpcImluXCIsXCJjdXN0b21lclR5cGVcIjpcIm51XCIsXCJ0eXBlXCI6XCJndWVzdFwiLFwiaXNFbWFpbFZlcmlmaWVkXCI6ZmFsc2UsXCJpc1Bob25lVmVyaWZpZWRcIjpmYWxzZSxcImRldmljZUlkXCI6XCI2OTRhN2E3Yi00NTdhLTRlZjItYTU4Yy1hNjJiZGNiNmUyNjhcIixcInByb2ZpbGVcIjpcIkFEVUxUXCIsXCJ2ZXJzaW9uXCI6XCJ2MlwiLFwic3Vic2NyaXB0aW9uc1wiOntcImluXCI6e319LFwiaXNzdWVkQXRcIjoxNjE4ODk1NTY4MTA2fSIsInZlcnNpb24iOiIxXzAifQ.dXyfusvjQSzARhDfobCgZ1jXcinOIUOLUUuURiqN48w',
    'accept': '*/*',
    'origin': 'https://www.hotstar.com',
    'sec-fetch-site': 'same-site',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://www.hotstar.com/',
    'accept-language': 'en-GB,en-US;q=0.9,en;q=0.8',
}

params = (
    ('content_type', 'All'),
    ('genre', 'Thriller'),
    ('availability', 'All'),
)

response = requests.get('https://persona.hotstar.com/v1/users/0cc02659a90847f292bce60c64adff6c/trays/popular', headers=headers, params=params)

#NB. Original query string below. It seems impossible to parse and
#reproduce query strings 100% accurately so the one below is given
#in case the reproduced version is not "correct".
# response = requests.get('https://persona.hotstar.com/v1/users/0cc02659a90847f292bce60c64adff6c/trays/popular?content_type=All&genre=Thriller&availability=All', headers=headers)

In [28]:
data = [item for key, item in response.json()['data']['items'].items()]

In [23]:
import pandas as pd
from pprint import pprint

In [30]:
df = pd.DataFrame(data)

In [31]:
df

             0
0   1000087393
1   1000224211
2   1100001807
3   1260000761
4   1260003582
5   1260003957
6   1260004606
7   1260005113
8   1260028094
9   1260039997
10  1260040367
11  1260042584
12  1260054967
13  1260055902
14  1260058191
15        1470
16       15520
17  1770016131
18       18112
19       18293